Invalid token

I've seen a lot of this recently, but it's a valid token.
Invalid token:
eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJodHRwOi8vc2NoZW1hcy5taWNyb3NvZnQuY29tL3dzLzIwMDgvMDYvaWRlbnRpdHkvY2xhaW1zL3VzZXJkYXRhIjoie1wiVXNlcklEXCI6MjMyLFwiVXNlck5hbWVcIjpcImFkbWluXCIsXCJEb21haW5OYW1lXCI6XCJDUERcIixcIk1vYmlsZVBob25lXCI6XCIxMzI0NDQ0NDQ0NFwiLFwiSUVNSVwiOlwiXCIsXCJXb3JrUm9sZU5hbWVcIjpcIuezu-e7n-euoeeQhuWRmFwiLFwiV29ya1JvbGVDb2RlXCI6XCIxXCIsXCJJc1JlZ2lvblwiOjAsXCJQYXJlbnRJRFwiOm51bGwsXCJQYXJlbnROYW1lXCI6XCJcIixcIlN0YXR1c0lEXCI6MyxcIlJlZ2lvbklEXCI6bnVsbCxcIlJlZ2lvbk5hbWVzXCI6XCLlhajlm71cIixcIkNpdHlJRFwiOjEsXCJMb2dpbklEXCI6XCJhZG1pblwiLFwiUGFyZW50TG9naW5JRFwiOlwiXCIsXCJEb21haW5JRFwiOjEsXCJUaGlyZENvbXBhbnlJRFwiOm51bGwsXCJJc1RoaXJkQ29tcGFueVVzZXJcIjp0cnVlLFwiRFBSb2xlVHlwZVwiOjksXCJEUFR5cGVJRFwiOm51bGwsXCJQZXJtaXNzaW9uc1wiOm51bGwsXCJVc2VyQ2hhbm5lbFR5cGVcIjpudWxsLFwiQXZhdGFyVXJsXCI6XCIvc2ZhaW1hZ2UxLzIwMTkwMzIxLzIzMlxcXFw1MDcwNzdfMjAxOTAzMjExNjU1NTlmMGIwZTYxZS1hMDNiLTQyNjUtOWRlNi03NWE4ZDFiNDY5YjYuanBnXCIsXCJJc1Byb21vdGVyVGVhbVwiOm51bGwsXCJCdXNpbmVzc01vZGVsSURTXCI6bnVsbCxcIkNvdW50ZXJCcmFuZElEU1wiOm51bGwsXCJDaGFpbnN0b3JlSURTXCI6bnVsbCxcIkVtYWlsXCI6bnVsbH0iLCJuYmYiOjE1NzUwMDMxNTAsImV4cCI6MTU3NTAwNDk1MCwiaWF0IjoxNTc1MDAzMTUwLCJpc3MiOiJBNUZHREU2NC1FODRELTQ4NUEtQkU1MS01NkUyOTNEMDlBNjkiLCJhdWQiOiIwOTkxNTNjMjYyNTE0OWJjOGVjYjNlODVlMDNmMDAyMiJ9.xp5TmBFi0Nr89SeClOIcbtIRcU4BTZDCMNVZiBew9W4


Thanks for logging this - the issue here is that the token contains non-UTF-8 characters.
I am not planning to handle Unicode characters at present as UTF-8 translation is core to the string comparison operations.
I am already working on implementing some more verbose error messaging to give better indications of token issues. Hope that helps.


Just dug this out as I based this implementation on the RFCs, but didn't have them to hand earlier...
[https://datatracker.ietf.org/doc/draft-ietf-oauth-jwt-bcp/?include_text=1](https://datatracker.ietf.org/doc/draft-ietf-oauth-jwt-bcp/?include_text=1)

> 2.6.  Multiplicity of JSON Encodings
> 
>    Previous versions of the JSON format such as the obsoleted [RFC7159]
>    allowed several different character encodings: UTF-8, UTF-16 and UTF-
>    32.  This is not the case anymore, with the latest standard [RFC8259]
>    only allowing UTF-8 except for internal use within a "closed
>    ecosystem".  This ambiguity where older implementations and those
>    used within closed environments may generate non-standard encodings,
>    may result in the JWT being misinterpreted by its recipient.  This in
>    turn could be used by a malicious sender to bypass the recipient's
>    validation checks.
> 
>    For mitigations, see Section 3.7

> 3.7. Use UTF-8
> [RFC7515], [RFC7516], and [RFC7519] all specify that UTF-8 be used for encoding and decoding JSON used in Header Parameters and JWT Claims Sets. This is also in line with the latest JSON specification [RFC8259]. Implementations and applications MUST do this, and not use or admit the use of other Unicode encodings for these purposes. 

Just a quick note, In case someone ends here with Google etc. When using Python 3.5 or older, you might also get Invalid token-error, when the token is correct UTF-8 (the relevant change seems to be here: https://docs.python.org/3/library/json.html#json.loads). If, for some reason, you need to use <= Python 3.5, the following can help:
Replace:
```python
    headDict = json.loads(head, object_pairs_hook=OrderedDict)
    paylDict = json.loads(payl, object_pairs_hook=OrderedDict)
```
with:
```python
    headDict = json.loads(head.decode('utf-8'), object_pairs_hook=OrderedDict)
    paylDict = json.loads(payl.decode('utf-8'), object_pairs_hook=OrderedDict)
```